body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
}

.card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
    border: 3px solid #343a40; /* Tambahkan border untuk mempercantik */
}



h1, h2, h3 {
    color: #343a40;
}

.list-group-item {
    border: none;
    padding: 0.75rem 1.25rem;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}
